<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEXANDER</title>
    <link rel="stylesheet" href="index2.css">
    <link rel="shortcut icon" type="image/png" href="../../../images/favicon.png">
</head>
<body>
    <div class="fondo">
        <ul class="base-menu">
                <li class="menu"><a class="texto" href="#sobre-mi">Sobre mi</a></li>
                <nav class="desplegable">
                    <li class="menu"><a class="texto">Trabajos</a>
                        <div class="column">
                            <ul>
                                <li class="a1 titulos"><a href="../clones/netflix/netflix.html">NETFLIX</a></li>
                                <li class="a2 titulos"><a href="../clones/got/got.html">GAME OF THRONES</a></li>
                                <li class="a3 titulos"><a href="../clones/disney/disney.html">DISNEY</a></li>
                                <li class="a4 titulos"><a href="../css-conceptos/cuadros/cuadros.html">CUADROS DE COLORES</a></li>    
                            </ul>
                        </div>
                        <div class="column">
                            <ul>
                                <li class="a5 titulos"><a href="../css-conceptos/bordes/bordes.html">BORDES</a></li>
                                <li class="a6 titulos"><a href="../ui/catalogo/catalogo.html">CATALOGO</a></li>
                                <li class="a6 titulos"><a href="../css-conceptos/shadow/shadow.html">SOMBRAS</a></li>
                                <li class="a6 titulos"><a href="../ui/tabla/tabla.html">TABLA</a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <ul>
                                <li class="a6 titulos"><a href="../ui/formulario/formulario.html">FORMULARIO</a></li>
                                <li class="a6 titulos"><a href="../ui/iconos/iconos.html">ICONO</a></li>
                                <li class="a6 titulos"><a href="../ui/iconos2/iconos2.html">KAYAK</a></li>
                                <li class="a6 titulos"><a href="../css-conceptos/media-query/media-query.html">MEDIA QUERY</a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <ul>
                                <li class="a6 titulos"><a href="../ui/menu-subitems/menu-subitems.html">MENU SUBITEM</a></li>
                            </ul>
                        </div>      
                    </li>
                </nav>
                <li class="menu"><a class="texto">Trabajos #2</a></li>
                <li class="menu"><a class="texto" href="../ingles/ingles.html">Ingles</a></li>
                <li class="menu"><a class="texto">Proyecto Formativo</a></li>
                <li class="menu"><a class="texto" href="#contact">Contacto</a></li>
        </ul>
    </div>
    <div class="tl">   
        <span><img src="../../../images/iconp-index.jpg" alt=""></span>
        <h1>ALEXANDER <br> MARTINEZ </h1>    
    </div>
    <div class="contenido" id="sobre-mi">
        <h2>SOBRE MI</h2>
        <P class="p1">Me llamo Alexander, tengo 19 años, me gusta programar.</P>
    </div> 
    <div class="contenido2" id="contact">
        <h3>CONTACTO</h3>
        <P class="p2">Correo electronico: alexjo2904@gmail.com</P>
    </div>
    <script src="../index.js"></script>
</body>
</html>