* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Indice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(165, 254, 0);
  width: 100%;
  height: 100vh;
}